.about {
    &-text {
        float: left;
        h2 {
            color: $primary;
        }
        a {
            color: $secondary;
        }
    }

    &-picture {
        img {
            width: 100%;
        }
    }
}

.action {
    &-text {
        h2 {
            color: $primary;
        }
        a {
            color: $secondary;
            font-weight: bold;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        p {
            font-weight: normal;
        }
    }

    &-picture {
        img {
            width: 100%;
            // max-height: 600px;
        }
    }
}