.form {
    &-input {
        border: 2px solid grey;
        height: 45px;
        width: 100%;
        display: block;
        margin-bottom: 10px;
        padding: 0 30px;
        font-size: 15px;
        line-height: 1.75;
        font-family: 'Open Sans', sans-serif;
        color: $primary;
        @include placeholder(grey);

        -moz-transition-duration: .3s;
        -o-transition-duration: .3s;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;

        &:focus {
            @include placeholder($primary);
            border-color: $primary;
        }
    }

    &-textarea {
        @extend .form-input;
        height: 150px;
        padding: 15px 30px;
    }
}

.contact {
    &-form {
        float: left;
        margin-bottom: 100px;
    }

    &-info {
        float: right;

    }

    &-list {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 43px;
        margin: 0 auto;
        width: auto;
        text-align: left;
        display: inline-block;

        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .icon {
            margin-right: 20px;
        }

    }
}