.skills {

    &-text {
        float: left;
    }

    &-progress {
        .progress {

            display: flex;
            justify-content: space-between;
            align-items: center;

            @media #{$medium-and-up} {
                margin: 0 25px;
            }

            &-title {
                line-height: 40px;
                font-weight: bold;
                color: $primary;
                text-align: left;
                margin: 0;
            }

            &-value {
                text-align: right;
            }
        }
    }

    &-label {
        ul {
            margin: 0;
        }
    }
}