.skills {

    &-text {
        float: left;
    }

    &-progress {
        .progress {

            &-title {
                line-height: 40px;
                font-weight: bold;
                color: $primary;
                text-align: left;
                width: 50%;
                margin: 0;
                display: inline-block;
            }

            &-value {
                display: inline-block;
                width: 40%;
                text-align: right;
            }
        }
    }
}