@import "compass";

// Variables
$default-transition-duration: 0.3s;
$green: #2ecc71;
$primary: #4f0b0b;

@import "mixins"; // Mixins

@import "base"; // Base styles
@import "grid"; // Layout style

// Modules  
@import "header";
@import "section";
@import "about";
@import "skills";
@import "projects";
@import "contact";
