$prefixes: ("-webkit-", "-moz-", "-ms-", "");

@mixin placeholder($color : $clr-mixin-placeholder) {
    @each $prefix in $prefixes {
        &::#{$prefix}placeholder {
            color: $color;
        }
    }
}


@mixin selection($color, $background) {
    @each $prefix in $prefixes {
        ::#{$prefix}selection {
            color: $color;
            background: $background;
            text-shadow: none;
        }
    }
}